@font-face {
  font-family: 'GeistMono-Bold';
  src: url('/fonts/GeistMono-Bold.ttf');
}

@font-face {
  font-family: 'GeistMono-Regular';
  src: url('/fonts/GeistMono-Regular.ttf');
}

@font-face {
  font-family: 'GeistMono-UltraLight';
  src: url('/fonts/GeistMono-UltraLight.ttf');
}

body {
  font-family: GeistMono-Regular, sans-serif;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  font-family: GeistMono-Bold, sans-serif;
  font-size: 1rem;
  background-color: #ededed;
  padding: 14px 30px;
  border: none;
  border-radius: 14px;
  color: #1f1f1f;
  box-shadow: inset rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #dddddd;
  transform: translateY(-4px);
  cursor: pointer;
}

.container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.result {
  width: 80%;
  padding-top: 5em;
  color: #1f1f1f;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scores {
  width: 80%;
  font-family: GeistMono-UltraLight, sans-serif;
  color: #1f1f1f;
  font-size: 2rem;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .result {
    font-size: 1.5rem;
  }

  .scores {
    font-size: 1.25rem;
  }
}
